*{
    margin: 0;
    padding: 0;
    background-color: rgba(240, 245, 243, 0);
}

.container {
    width: 80%;
    margin: 50px 50px 30px 40px;
margin-left: 154px;
}
.contactact-box{
    background: rgb(222, 216, 216);
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
    background: #ccc;
}
.contact-right{
    flex-basis: 60%;
    padding: 48px;
    background-color: blueviolet;
}
h1{
    margin-bottom: 20px;
}
.container p{
    margin-bottom: 20px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-group .input-row{
      flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 80%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    width:100px;
    outline: none;
    border: none;
    background:#1c00b5;
    color: #fff;
    height: 30px;
    border-radius: 30px;
    transition: 0.3s;
    margin-top: 20px;
    box-shadow: 0px 5px 15px rgba(28,0,181,0.3);
   
    
}
button:hover{
    background-color: red;
    font-weight: bolder;
    font-style: italic;
}
.contact-left h3{
    color:#1c00b5 ;
    font-weight: 600;
}
.contact-right h3{
    color:#1c00b5 ;
    font-weight: 600;
}
tr rd:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}