*{
    background-color: bisque;
}
.cardd{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;

}
body{
    margin-top: 0;
}
.nav-bar{
    top: 0;
    margin-top: 0;
}
.margin-{
    margin-left: 10px;
    border: 1px solid rgb(102, 99, 99);
    margin-right: 70%;
}
.card
{
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.text-center{
    text-align: justify;
    text-decoration: dotted;
    text-align: center;
}